.row
  .col-sm-4.mb-r
    .card-wrapper
      #card-1.card-rotating.effect__click
        / Front Side
        .face.front
          / Image
          .card-up
            %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg"}/
          / Avatar
          .avatar
            - if @user.avatar_file_name.blank?
              %img{:src => "/assets/icon.png", :class => "rounded-circle img-responsive"}
            - else
              = image_tag @user.avatar(:medium), :class => "rounded-circle img-responsive"
          .card-block
            %h4
              - if @user.admin == true
                .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Administrator"}
                  %i.fa.fa-user-secret.text-primary
              - if @user.first_name.blank? || @user.last_name.blank?
                = @user.user_name
              - else
                = @user.first_name
                = @user.last_name
              - if @user.vip == true
                .span.badge.badge-info
                  PRO
            %p
              - if @user.pref_role.blank?
                Happy FADE IN User
              - else
                = @user.pref_role
                |
                = @user.school
            / Triggering button
            %a.rotate-btn{"data-card" => "card-1"}
              %i.fa.fa-repeat
              Click here to rotate
        / /.Front Side
        / Back Side
        .face.back
          / Content
          %h4 About me
          %hr/
          %p
            - if @user.bio.blank?
              Hello, welcome to FADE IN. You can change your bio, and all other profile options if you head over to the customization tab.
            - else
              = @user.bio
          %hr/
          / Social Icons
          %ul.inline-ul
            %li
              %a.icons-sm.fb-ic
                %i.fa.fa-facebook
            %li
              %a.icons-sm.tw-ic
                %i.fa.fa-twitter
            %li
              %a.icons-sm.gplus-ic
                %i.fa.fa-google-plus
            %li
              %a.icons-sm.li-ic
                %i.fa.fa-linkedin
          / Triggering button
          %a.rotate-btn{"data-card" => "card-1"}
            %i.fa.fa-undo
            Click here to rotate back
        / /.Back Side
  .col.mb-r
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/yJ-Z_DW0AuE"}
= render 'profiles/breakdown'