.row
  .col-sm-4.mb-r
    .card-wrapper
      #card-1.card-rotating.effect__click
        / Front Side
        .face.front
          / Image
          .card-up
            %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg"}/
          / Avatar
          .avatar
            - if @user.avatar_file_name == nil
              %img{:src => "/assets/icon.png", :class => "rounded-circle img-responsive"}
            - else
              = image_tag @user.avatar(:medium), :class => "rounded-circle img-responsive"
          .card-block
            %h4
              - if @user.first_name == nil
                - if @user.last_name == nil
                  = @user.user_name
              - else
                = @user.first_name
                = @user.last_name
              - if @user.vip == true
                .span.badge.badge-info
                  PRO
              - if @user.admin == true
                .span.badge.badge-warning
                  ADMIN
            %p
              - if @user.pref_role == nil
                Happy FADE IN User
              - else
                = @user.pref_role
                |
                = @user.school
            / Triggering button
            %a.rotate-btn{"data-card" => "card-1"}
              %i.fa.fa-repeat
              Click here to rotate
        / /.Front Side
        / Back Side
        .face.back
          / Content
          %h4 About me
          %hr/
          %p
            = @user.bio
          %hr/
          / Social Icons
          %ul.inline-ul
            %li
              %a.icons-sm.fb-ic
                %i.fa.fa-facebook
            %li
              %a.icons-sm.tw-ic
                %i.fa.fa-twitter
            %li
              %a.icons-sm.gplus-ic
                %i.fa.fa-google-plus
            %li
              %a.icons-sm.li-ic
                %i.fa.fa-linkedin
          / Triggering button
          %a.rotate-btn{"data-card" => "card-1"}
            %i.fa.fa-undo
            Click here to rotate back
        / /.Back Side
  .col.mb-r
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allowfullscreen => "", :src => "https://www.youtube.com/embed/yJ-Z_DW0AuE"}
%h3 My projects
%hr
.card-group
  -@projects.each do |project|
    .card.card-home
      = image_tag project.image.url(:medium), :class => "img-fluid"
      .card-block
        - if project.genre == "Action"
          //Action
          %i.red-text.fa.fa-fighter-jet
          %h5.red-text.display-inline
            = project.genre
          %i.red-text.fa.fa-clock-o
          %h5.red-text.display-inline
            = project.duration
        - elsif project.genre == "Adventure"
          //Adventure
          %i.green-text.fa.fa-envira
          %h5.green-text.display-inline
            = project.genre
          %i.green-text.fa.fa-clock-o
          %h5.green-text.display-inline
            = project.duration
        - elsif project.genre == "Comedy"
          //Comedy
          %i.cyan-text.fa.fa-smile-o
          %h5.cyan-text.display-inline
            = project.genre
          %i.cyan-text.fa.fa-clock-o
          %h5.cyan-text.display-inline
            = project.duration
        - elsif project.genre == "Crime"
          //Crime
          %i.orange-text.fa.fa-gavel
          %h5.orange-text.display-inline
            = project.genre
          %i.orange-text.fa.fa-clock-o
          %h5.orange-text.display-inline
            = project.duration
        - elsif project.genre == "Drama"
          //Drama
          %i.amber-text.fa.fa-group
          %h5.amber-text.display-inline
            = project.genre
          %i.amber-text.fa.fa-clock-o
          %h5.amber-text.display-inline
            = project.duration
        - elsif project.genre == "Horror"
          //Horror
          %i.brown-text.fa.fa-warning
          %h5.brown-text.display-inline
            = project.genre
          %i.brown-text.fa.fa-clock-o
          %h5.brown-text.display-inline
            = project.duration
        - else
          //Si-fi
          %i.teal-text.fa.fa-rocket
          %h5.teal-text.display-inline
            = project.genre
          %i.teal-text.fa.fa-clock-o
          %h5.teal-text.display-inline
            = project.duration
        %h4.card-title.project-title
          = project.title
        %p.card-text
          = truncate(project.synopsis, length: 120)
        - project.users.each do |user|
          - @them = UserProject.where(user_id: @user.id, project_id: project.id)
          - @them.each do |it|
            - if it.user_id == user.id
              My role:
              = it.user_role
        = link_to project_path(project), :class => "btn btn-rounded btn-primary btn-sm float-right display-inline" do
          View Project