- title @user.user_name + "'s profile - FADE IN"

- @user.projects.each do |project|
  - @hasprojects = true
  - if project.completed == true
    - @hascompleted = true
    

- if @user.vip?
  .tile.is-vertical.box.user-sidebar.vip-background
    - if @user.avatar_file_name.blank?
      %img{:src => "/assets/user.png", :class => "rounded-circle center-circle", :width => "168"}
    - else
      = image_tag @user.avatar(:medium), :class => "rounded-circle center-circle", :width => "168"
    %p.portfolio-username
      - if @user.first_name.blank?
        @#{@user.user_name}
      - else
        = @user.first_name + " " + @user.last_name
    %p.portfolio-bio
      = @user.bio
    .user-stats
      .stats-projects
        %span.fa.fa-rocket
        .stats-col
          %p.stat-name
            Projects
          %p.stat-number
            = @user.projects.count
      .stats-tickets
        %span.fa.fa-ticket
        .stats-col
          %p.stat-name
            Tickets
          %p.stat-number
            - if @user.tickets.blank?
              0
            - else
              = @user.tickets
      .stats-awards
        %span.fa.fa-trophy
        .stats-col
          %p.stat-name
            Awards
          %p.stat-number
            1
    - if @user.id == current_user.id
      = link_to edit_profile_path(@user.user_name), :class => "field-text" do
        %i.fa.fa-cog.display-inline
        %p.display-inline Edit Profile
- elsif @user.admin?
  .tile.is-vertical.box.user-sidebar.admin-background
    - if @user.avatar_file_name.blank?
      %img{:src => "/assets/user.png", :class => "rounded-circle center-circle", :width => "168"}
    - else
      = image_tag @user.avatar(:medium), :class => "rounded-circle center-circle", :width => "168"
    .is-flex-row.flex-padding
      %p.portfolio-username
        - if @user.first_name.blank?
          @#{@user.user_name}
        - else
          = @user.first_name + " " + @user.last_name
      %span.icon.is-small{"data-balloon" => "Verified", "data-balloon-pos" => "up"}
        %i.fa.fa-check-square.field-text
    %p.portfolio-bio
      = @user.bio
    .user-stats
      .stats-projects
        %span.fa.fa-rocket
        .stats-col
          %p.stat-name
            Projects
          %p.stat-number
            = @user.projects.count
      .stats-tickets
        %span.fa.fa-ticket
        .stats-col
          %p.stat-name
            Tickets
          %p.stat-number
            - if @user.tickets.blank?
              0
            - else
              = @user.tickets
      .stats-awards
        %span.fa.fa-trophy
        .stats-col
          %p.stat-name
            Awards
          %p.stat-number
            1
    - if current_user.id == @user.id
      = link_to edit_profile_path(@user.user_name), :class => "field-text" do
        %i.fa.fa-cog.display-inline
        %p.display-inline Edit Profile
- else
  .tile.is-vertical.box.user-sidebar
    - if @user.avatar_file_name.blank?
      %img{:src => "/assets/user.png", :class => "rounded-circle center-circle", :width => "168"}
    - else
      = image_tag @user.avatar(:medium), :class => "rounded-circle center-circle", :width => "168"
    %p.portfolio-username
      - if @user.first_name.blank?
        @#{@user.user_name}
      - else
        = @user.first_name + " " + @user.last_name
    %p.portfolio-bio
      = @user.bio
    .user-stats
      .stats-projects
        %span.fa.fa-rocket
        .stats-col
          %p.stat-name
            Projects
          %p.stat-number
            = @user.projects.count
      .stats-tickets
        %span.fa.fa-ticket
        .stats-col
          %p.stat-name
            Tickets
          %p.stat-number
            - if @user.tickets.blank?
              0
            - else
              = @user.tickets
      .stats-awards
        %span.fa.fa-trophy
        .stats-col
          %p.stat-name
            Awards
          %p.stat-number
            1
    - if @user.id == current_user.id
      = link_to edit_profile_path(@user.user_name), :class => "field-text" do
        %i.fa.fa-cog.display-inline
        %p.display-inline Edit Profile
.tile.is-ancestor
  .tile.is-2.is-vertical.is-parent.spacefix
  .tile.is-vertical.fit-screen
    .tile
      .tile.is-parent
        .tile.is-child.portfolio-topbar
          %p
            All work
          .playlist-buttons
            %a.button.is-primary.is-outlined{:disabled => "disabled"} Add New Playlist
            %a.button.is-primary.is-outlined.mobile-btn{:disabled => "disabled"}
              %span.fa.fa-th-list
            %a.button.is-primary.is-outlined.mobile-btn{:disabled => "disabled"}
              %span.fa.fa-th
    - if @hasprojects == true
      .tile
        .tile.is-parent
          .tile.is-child.currentprojects-row
            %p
              My current projects
            .add-button
              %p
                Add
              %a.button.is-primary.rounded-circle
                %span.fa.fa-plus
      .tile.display-projects
        -@user.projects.each do |project|
          - if project.completed != true
            .tile.is-4.is-parent.portfolio-projects
              = link_to project_path(project) do
                .tile.is-child.box.portfolio-projects-padding
                  = image_tag project.image.url(:medium), :class => "vidthumbnail"
                  - if project.genre == "Action"
                    //Action
                    .portfolio-project-row
                      %span.red-text.fa.fa-fighter-jet
                      %h5.red-text.display-inline
                        = project.genre
                      %span.red-text.fa.fa-clock-o.icon
                      %h5.red-text.display-inline
                        = project.duration
                  - elsif project.genre == "Adventure"
                    //Adventure
                    .portfolio-project-row
                      %span.green-text.fa.fa-envira
                      %h5.green-text.display-inline
                        = project.genre
                      %span.green-text.fa.fa-clock-o
                      %h5.green-text.display-inline
                        = project.duration
                  - elsif project.genre == "Comedy"
                    //Comedy
                    .portfolio-project-row
                      %span.cyan-text.fa.fa-smile-o
                      %h5.cyan-text.display-inline
                        = project.genre
                      %span.cyan-text.fa.fa-clock-o
                      %h5.cyan-text.display-inline
                        = project.duration
                  - elsif project.genre == "Crime"
                    //Crime
                    .portfolio-project-row
                      %span.orange-text.fa.fa-gavel
                      %h5.orange-text.display-inline
                        = project.genre
                      %span.orange-text.fa.fa-clock-o
                      %h5.orange-text.display-inline
                        = project.duration
                  - elsif project.genre == "Drama"
                    //Drama
                    .portfolio-project-row
                      %span.amber-text.fa.fa-group
                      %h5.amber-text.display-inline
                        = project.genre
                      %span.amber-text.fa.fa-clock-o
                      %h5.amber-text.display-inline
                        = project.duration
                  - elsif project.genre == "Horror"
                    //Horror
                    .portfolio-project-row
                      %span.brown-text.fa.fa-warning
                      %h5.brown-text.display-inline
                        = project.genre
                      %span.brown-text.fa.fa-clock-o
                      %h5.brown-text.display-inline
                        = project.duration
                  - else
                    //Si-fi
                    .portfolio-project-row
                      %span.teal-text.fa.fa-rocket
                      %h5.teal-text.display-inline
                        = project.genre
                      %span.teal-text.fa.fa-clock-o
                      %h5.teal-text.display-inline
                        = project.duration
                  %p
                    = truncate(project.title, length: 22)
      - if @hascompleted == true
        .tile
          .tile.is-parent
            .tile.is-child.currentprojects-row
              %p
                My completed projects
              .add-button
                %p
                  Add
                %a.button.is-primary.rounded-circle
                  %span.fa.fa-plus
        .tile.display-projects
          -@user.projects.each do |project|
            - if project.completed == true
              .tile.is-4.is-parent.portfolio-projects
                = link_to project_path(project) do
                  .tile.is-child.box.portfolio-projects-padding
                    = image_tag project.image.url(:medium), :class => "vidthumbnail"
                    - if project.genre == "Action"
                      //Action
                      .portfolio-project-row
                        %span.red-text.fa.fa-fighter-jet
                        %h5.red-text.display-inline
                          = project.genre
                        %span.red-text.fa.fa-clock-o.icon
                        %h5.red-text.display-inline
                          = project.duration
                    - elsif project.genre == "Adventure"
                      //Adventure
                      .portfolio-project-row
                        %span.green-text.fa.fa-envira
                        %h5.green-text.display-inline
                          = project.genre
                        %span.green-text.fa.fa-clock-o
                        %h5.green-text.display-inline
                          = project.duration
                    - elsif project.genre == "Comedy"
                      //Comedy
                      .portfolio-project-row
                        %span.cyan-text.fa.fa-smile-o
                        %h5.cyan-text.display-inline
                          = project.genre
                        %span.cyan-text.fa.fa-clock-o
                        %h5.cyan-text.display-inline
                          = project.duration
                    - elsif project.genre == "Crime"
                      //Crime
                      .portfolio-project-row
                        %span.orange-text.fa.fa-gavel
                        %h5.orange-text.display-inline
                          = project.genre
                        %span.orange-text.fa.fa-clock-o
                        %h5.orange-text.display-inline
                          = project.duration
                    - elsif project.genre == "Drama"
                      //Drama
                      .portfolio-project-row
                        %span.amber-text.fa.fa-group
                        %h5.amber-text.display-inline
                          = project.genre
                        %span.amber-text.fa.fa-clock-o
                        %h5.amber-text.display-inline
                          = project.duration
                    - elsif project.genre == "Horror"
                      //Horror
                      .portfolio-project-row
                        %span.brown-text.fa.fa-warning
                        %h5.brown-text.display-inline
                          = project.genre
                        %span.brown-text.fa.fa-clock-o
                        %h5.brown-text.display-inline
                          = project.duration
                    - else
                      //Si-fi
                      .portfolio-project-row
                        %span.teal-text.fa.fa-rocket
                        %h5.teal-text.display-inline
                          = project.genre
                        %span.teal-text.fa.fa-clock-o
                        %h5.teal-text.display-inline
                          = project.duration
                    %p
                      = truncate(project.title, length: 22)
    - else
      .column.has-text-centered
        - if current_user.id == @user.id
          %h1 You have no projects
          = link_to new_project_path, :class => "button is-primary is-outlined" do
            %span Create a project
        - else
          %h1 
            %strong @#{@user.user_name} 
            has no projects
          %p When they do, they will show up here.