- @cpid = @chat_room.project_id.to_i
- @current_project = Project.find(@cpid)
- @members = 0
- @current_project.users.each do |it|
  - @members += 1
.tabs.is-centered
  %ul
    = render @chat_rooms
%h1= @chat_room.title + " chat"
#messages{"data-chat-room-id" => @chat_room.id}
  = render @chat_room.messages
.tile
  = form_for @message, url: '#' do |f|
    %article.media
      %figure.media-left
        %p.image.is-96x96
          = image_tag current_user.avatar.url(:medium)
      .media-content
        .field
          %p.control
            = f.text_field :body, class: "input", placeholder: "send a message..."
        %nav.level
          .level-left
            .level-item
              %button.button.is-info Submit