- @cpid = @chat_room.project_id.to_i
- @current_project = Project.find(@cpid)
- @members = 0
- @current_project.users.each do |it|
  - @members += 1

.tile.is-ancestor
  .tile.is-chat.is-vertical.is-parent.is-chat-list
    .tile.is-child.box
      %aside.menu
        %p.menu-label
          Project Chats
        %ul.menu-list
          = render @chat_rooms
  .tile.is-vertical.is-parent
    .tile.is-child.box.is-chat-title
      .field.display-inline
        %p.menu-label
          = @chat_room.title + " chat"
          •
          = @members
          Members
    .tile.is-child.box
      #messages{"data-chat-room-id" => @chat_room.id}
        = render @chat_room.messages
    .tile.is-child
      = form_for @message, url: '#' do |f|
        .field.has-addons
          %p.control.is-expanded
            = f.text_field :body, class: "input", placeholder: "Message ##{@chat_room.title}", autocomplete: "off"
          %p.control
            %button.button.is-primary.is-outlined Submit