%br
.container
  .row
    %section.signup
      .col-md-12
        .row
          .col-md-4.mt-1.hidden-sm-down
            %h1 Why sign up?
            %ul.advantages-list
              %li
                %span.green-text
                  %i.fa.fa-check
                Easily find crew members
              %li
                %span.green-text
                  %i.fa.fa-check
                Showcase your work
              %li
                %span.green-text
                  %i.fa.fa-check
                Be rewarded for creativity
              %li
                %span.green-text
                  %i.fa.fa-check
                Gain experience
              %li
                %span.green-text
                  %i.fa.fa-check
                Discover opportunities
              %li ...and way way more!
            %a.btn.btn-outline-primary{:href => "#"} Read more
          .col-md-5.offset-md-3
            .card.card-space
              .card-block
                .form-header.orange.darken-4
                  %h3
                    %i.fa.fa-lock
                    Signup:
                = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                  = f.error_notification
                  .form-input
                    .md-form
                      %i.fa.fa-user.prefix
                      = f.input_field :user_name, id: "username", required: true, autofocus: true, :class => "form-control"
                      %label{:for => "username"} Username
                    .md-form
                      %i.fa.fa-envelope.prefix
                      = f.input_field :email, id: "email", required: true, :class => "form-control"
                      %label{:for => "email"} Email
                    .md-form
                      %i.fa.fa-lock.prefix
                      = f.input_field :password, id: "password", required: true, :class => "form-control"
                      %label{:for => "password"} Password
                    .md-form
                      %i.fa.fa-lock.prefix
                      = f.input_field :password_confirmation, id: "passwordconfirm", required: true, :class => "form-control"
                      %label{:for => "passwordconfirm"} Confirm password
                  .text-center
                    = f.button :submit, "Sign up", :class => 'btn btn-primary btn-rounded'
              .modal-footer.text-center
                Or you can
                = link_to "Log in", new_session_path(resource_name), :class => 'btn btn-secondary btn-rounded'
