- title "Request to join project - FADE IN"
%br
.card.card-space
  .card-block
    .form-header.primary-color
      %h3
        %i.fa.fa-plus
        Request to join Project
    = form_for @request, url: request_request_path do |f|
      %h4.text-center
        Select your role
      .form-inline
        .container-fluid
          .role-selector
            .row
              .col
                - if @project.director > 0
                  = radio_button_tag("request[role]", "Director")
                  = label_tag(:request_role_Director, "", class: "options-roles Director")
              .col
                - if @project.writer > 0
                  = radio_button_tag("request[role]", "Writer")
                  = label_tag(:request_role_Writer, "", class: "options-roles Writer")
              .col
                - if @project.actor > 0
                  = radio_button_tag("request[role]", "Actor")
                  = label_tag(:request_role_Actor, "", class: "options-roles Actor")
              .col
                - if @project.editor > 0
                  = radio_button_tag("request[role]", "Editor")
                  = label_tag(:request_role_Editor, "", class: "options-roles Editor")
              .col
                - if @project.composer > 0
                  = radio_button_tag("request[role]", "Composer")
                  = label_tag(:request_role_Composer, "", class: "options-roles Composer")
              .col
                - if @project.cinematographer > 0
                  = radio_button_tag("request[role]", "Cinematographer")
                  = label_tag(:request_role_Cinematographer, "", class: "options-roles Cinematographer") 
              .col
                - if @project.makeup > 0
                  = radio_button_tag("request[role]", "Makeup")
                  = label_tag(:request_role_Makeup, "", class: "options-roles Makeup") 
              .col
                - if @project.vfx > 0
                  = radio_button_tag("request[role]", "Vfx")
                  = label_tag(:request_role_Vfx, "", class: "options-roles Vfx") 
              .col
      .md-form
        %i.fa.fa-pencil.prefix
        = f.text_area :bio, :class => "md-textarea", :minlength => "40", :maxlength => 150, :length => "150"
        %label{:for => "bio"} Why should you get this role
      %br
      %button.btn.btn-primary.primary-color.btn-rounded Send Request
  