- title "Edit Project - FADE IN"

%br
.card
  .card-block
    .form-header.orange.darken-4
      %h3
        %i.fa.fa-pencil
        Edit Project
    = simple_form_for @project do |f|
      = f.input_field :image
      .form-inline
        = f.input :genre, collection: ["Action", "Adventure", "Comedy", "Crime", "Drama", "Horror", "Sci-fi"], input_html: { class: 'browser-default' }
        = f.input :duration, collection: ["Very short", "Short", "Long", "Feature"], input_html: { class: 'browser-default' }
      .md-form
        %i.fa.fa-rocket.prefix
        = f.input_field :title, id: "title", input_html: { minlength: 3, maxlength: 50, length: '50' }, :class => "form-control"
        %label{:for => "title"} Enter a title
      .md-form
        %i.fa.fa-pencil.prefix
        = f.input_field :synopsis, input_html: { minlength: 100, maxlength: 500, length: '500' }, :class => "md-textarea"
        %label{:for => "synopsis"} Enter a brief synopsis
      %br
      %h4.text-center
        Select what roles you need
      %br
      .form-inline
        .container-fluid
          .row
            .col
              %img.img-fluid{:src => "/assets/roles/clapperboard.png", :height => "50", :width => "50"}
              = f.input :director, label: false, input_html: { min: 0, max: 1 }
            .col
              %img.img-fluid{:src => "/assets/roles/edit.png", :height => "50", :width => "50"}
              = f.input :writer, label: false, input_html: { min: 0, max: 5 }
            .col
              %img.img-fluid{:src => "/assets/roles/theater.png", :height => "50", :width => "50"}
              = f.input :actor, label: false, input_html: { min: 0, max: 15 }
            .col
              %img.img-fluid{:src => "/assets/roles/imac.png", :height => "50", :width => "50"}
              = f.input :editor, label: false, input_html: { min: 0, max: 3 }
            .col
              %img.img-fluid{:src => "/assets/roles/music-player.png", :height => "50", :width => "50"}
              = f.input :composer, label: false, input_html: { min: 0, max: 3 }
            .col
              %img.img-fluid{:src => "/assets/roles/photo-camera.png", :height => "50", :width => "50"}
              = f.input :cinematographer , label: false, input_html: { min: 0, max: 3 }
            .col
              %img.img-fluid{:src => "/assets/roles/paint-brush.png", :height => "50", :width => "50"}
              = f.input :makeup, label: false, input_html: { min: 0, max: 5 }
            .col
              %img.img-fluid{:src => "/assets/roles/fuse.png", :height => "50", :width => "50"}
              = f.input :vfx, label: false, input_html: { min: 0, max: 2 }
      %br
      - if @project.public == false
        = f.input :public, input_html: { checked_value: true, unchecked_value: false }
      = f.button :submit, :class => "btn btn-primary btn-rounded btn-sm"
      = link_to "Cancel", root_path, :class => "btn btn-secondary btn-rounded"
      = link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }, :class => "btn btn-warning btn-rounded"