- title "Projects - FADE IN"
- @pcount = 0
- @projects.each do |project|
  - if project.completed != true || project.public == true
    - @pcount += 1
%script checkNav()
%header.projects-actionbar#actionbar
  %p Choose Type
  %ul
    %li
      %label{"data-balloon" => "Film", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/filmstrip.png", :height => "33", :width => "33"}  
    %li
      %label{"data-balloon" => "Documentary", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/info.png", :height => "33", :width => "33"}
    %li
      %label{"data-balloon" => "Music Video", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/music-player.png", :height => "33", :width => "33"}
  %p Choose Role
  %ul
    %li
      %label{"data-balloon" => "Director", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/clapperboard.png", :height => "33", :width => "33"}
    %li
      %label{"data-balloon" => "Cinematographer", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/photo-camera.png", :height => "33", :width => "33"}
    %li
      %label{"data-balloon" => "Writer", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/edit.png", :height => "33", :width => "33"}
    %li
      %label{"data-balloon" => "Actor", "data-balloon-pos" => "up"}
        %input{:type => "checkbox"}
        %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/theater.png", :height => "33", :width => "33"}
  %input{:name => "search", :placeholder => "Search projects...", :type => "text"}
  = link_to new_project_path do
    %p + Create Project
%main.projects-main#main
  %p 
    Showing 
    %strong films 
    looking for 
    %strong actors
    in
    %strong London
  %div
    - if @pcount == 0
      There are no projects yet, be the first to create one!
    -@projects.each do |project|
      - if project.public == true
        .card
          %img{src: project.header_url, class: "header-fit-cover"}
          %div
            .genre-duration
              - if project.genre == "Action"
                //Action
                %span.red-text.fa.fa-fighter-jet
                %p.red-text
                  = project.genre
                %span.red-text.fa.fa-clock-o
                %p.red-text
                  = project.duration
              - elsif project.genre == "Adventure"
                //Adventure
                %span.green-text.im.im-leaf
                %p.green-text
                  = project.genre
                %span.green-text.fa.fa-clock-o
                %p.green-text
                  = project.duration
              - elsif project.genre == "Comedy"
                //Comedy
                %span.cyan-text.im.im-smiley-o
                %p.cyan-text
                  = project.genre
                %span.cyan-text.fa.fa-clock-o
                %p.cyan-text
                  = project.duration
              - elsif project.genre == "Crime"
                //Crime
                %span.orange-text.fa.fa-gavel
                %p.orange-text
                  = project.genre
                %span.orange-text.fa.fa-clock-o
                %p.orange-text
                  = project.duration
              - elsif project.genre == "Drama"
                //Drama
                %span.amber-text.im.im-users
                %p.amber-text
                  = project.genre
                %span.amber-text.fa.fa-clock-o
                %p.amber-text
                  = project.duration
              - elsif project.genre == "Horror"
                //Horror
                %span.brown-text.im.im-forbidden
                %p.brown-text
                  = project.genre
                %span.brown-text.fa.fa-clock-o
                %p.brown-text
                  = project.duration
              - else
                //Si-fi
                %span.teal-text.im.im-rocket
                %p.teal-text
                  = project.genre
                %span.teal-text.fa.fa-clock-o
                %p.teal-text
                  = project.duration
            .project-info
              %p
                = truncate(project.title, length: 30)
              %p
                = truncate(project.synopsis, length: 160)
            .project-needs
              - if project.director > 0
                //director
                %div{"data-balloon" => "Director", "data-balloon-pos" => "up"}
                  %i.icon-video
              - if project.writer > 0
                //writer
                %div{"data-balloon" => "Writer", "data-balloon-pos" => "up"}
                  %i.fa.fa-pencil
              - if project.actor > 0
                //actor
                %div{"data-balloon" => "Actor", "data-balloon-pos" => "up"}
                  %i.icon-theatre
              - if project.editor > 0
                //editor
                %div{"data-balloon" => "Editor", "data-balloon-pos" => "up"}
                  %i.fa.fa-desktop
              - if project.composer > 0
                //composer
                %div{"data-balloon" => "Composer", "data-balloon-pos" => "up"}
                  %i.fa.fa-music
              - if project.cinematographer > 0
                //cinematographer
                %div{"data-balloon" => "Cinematographer", "data-balloon-pos" => "up"}
                  %i.fa.fa-video-camera
              - if project.makeup > 0
                //makeup
                %div{"data-balloon" => "Makeup Artist", "data-balloon-pos" => "up"}
                  %i.fa.fa-paint-brush
              - if project.vfx > 0
                //vfx
                %div{"data-balloon" => "Vfx Artist", "data-balloon-pos" => "up"}
                  %i.fa.fa-bomb
              = link_to "View Project", project_path(project)


// - @pcount = 0
// - @projects.each do |project|
//   - if project.completed != true || project.public == true
//     - @pcount += 1
// - if @pcount == 0
//   .column.has-text-centered
//     %h1 There are no projects yet, be the first to create one.
// - else
//   .level.projectbar
//     %label.label.main-text All Projects
//     = link_to new_project_path, :class => "button is-primary is-outlined" do
//       Create Project
//   .level
//     .columns.is-multiline
//       -@projects.each do |project|
//         - if project.public == true
//           .column.card-home
//             .card.project-card
//               .card-image
//                 = image_tag project.image.url(:medium), :class => "img-fluid"
//               .card-content
//                 .genreduration
//                   - if project.genre == "Action"
//                     //Action
//                     %span.red-text.fa.fa-fighter-jet
//                     %h5.red-text.display-inline
//                       = project.genre
//                     %span.red-text.fa.fa-clock-o.icon
//                     %h5.red-text.display-inline
//                       = project.duration
//                   - elsif project.genre == "Adventure"
//                     //Adventure
//                     %span.green-text.fa.fa-envira
//                     %h5.green-text.display-inline
//                       = project.genre
//                     %span.green-text.fa.fa-clock-o
//                     %h5.green-text.display-inline
//                       = project.duration
//                   - elsif project.genre == "Comedy"
//                     //Comedy
//                     %span.cyan-text.fa.fa-smile-o
//                     %h5.cyan-text.display-inline
//                       = project.genre
//                     %span.cyan-text.fa.fa-clock-o
//                     %h5.cyan-text.display-inline
//                       = project.duration
//                   - elsif project.genre == "Crime"
//                     //Crime
//                     %span.orange-text.fa.fa-gavel
//                     %h5.orange-text.display-inline
//                       = project.genre
//                     %span.orange-text.fa.fa-clock-o
//                     %h5.orange-text.display-inline
//                       = project.duration
//                   - elsif project.genre == "Drama"
//                     //Drama
//                     %span.amber-text.fa.fa-group
//                     %h5.amber-text.display-inline
//                       = project.genre
//                     %span.amber-text.fa.fa-clock-o
//                     %h5.amber-text.display-inline
//                       = project.duration
//                   - elsif project.genre == "Horror"
//                     //Horror
//                     %span.brown-text.fa.fa-warning
//                     %h5.brown-text.display-inline
//                       = project.genre
//                     %span.brown-text.fa.fa-clock-o
//                     %h5.brown-text.display-inline
//                       = project.duration
//                   - else
//                     //Si-fi
//                     %span.teal-text.fa.fa-rocket
//                     %h5.teal-text.display-inline
//                       = project.genre
//                     %span.teal-text.fa.fa-clock-o
//                     %h5.teal-text.display-inline
//                       = project.duration
//                 .content
//                   %h4.project-title
//                     = truncate(project.title, length: 30)
//                     - if project.challenge == true
//                       .span.tag.is-primary
//                         Challenge
//                   %p.project-bio
//                     = truncate(project.synopsis, length: 160)
//                 .cardbottom
//                   .level
//                     .media-left
//                       - if project.director > 0
//                         //director
//                         .mask.display-inline{"data-balloon" => "Director", "data-balloon-pos" => "up"}
//                           %i.icon-video
//                       - if project.writer > 0
//                         //writer
//                         .mask.display-inline{"data-balloon" => "Writer", "data-balloon-pos" => "up"}
//                           %i.fa.fa-pencil
//                       - if project.actor > 0
//                         //actor
//                         .mask.display-inline{"data-balloon" => "Actor", "data-balloon-pos" => "up"}
//                           %i.icon-theatre
//                       - if project.editor > 0
//                         //editor
//                         .mask.display-inline{"data-balloon" => "Editor", "data-balloon-pos" => "up"}
//                           %i.fa.fa-desktop
//                       - if project.composer > 0
//                         //composer
//                         .mask.display-inline{"data-balloon" => "Composer", "data-balloon-pos" => "up"}
//                           %i.fa.fa-music
//                       - if project.cinematographer > 0
//                         //cinematographer
//                         .mask.display-inline{"data-balloon" => "Cinematographer", "data-balloon-pos" => "up"}
//                           %i.fa.fa-video-camera
//                       - if project.makeup > 0
//                         //makeup
//                         .mask.display-inline{"data-balloon" => "Makeup Artist", "data-balloon-pos" => "up"}
//                           %i.fa.fa-paint-brush
//                       - if project.vfx > 0
//                         //vfx
//                         .mask.display-inline{"data-balloon" => "Vfx Artist", "data-balloon-pos" => "up"}
//                           %i.fa.fa-bomb
//                     .media-right
//                       = link_to project_path(project), :class => "button is-primary is-outlined is-small" do
//                         View Project