-@projects.each do |project|
	= image_tag project.image.url(:medium)
	= project.genre
	= project.duration
	= project.title
	= project.synopsis
	= link_to "View Project", project_path(project)
	= link_to project.user.user_name, profile_path(project.user.user_name)