- title "Projects - FADE IN"

%h2.display-inline Projects
= link_to new_project_path, :class => "btn btn-primary cp-right display-inline" do
  %i.fa.fa-plus.left
  Create Project
%hr
.card-group.card-space
  -@projects.each do |project|
    - if project.public == true
      .card.card-home
        = image_tag project.image.url(:medium), :class => "img-fluid"
        .card-block
          - if project.genre == "Action"
            //Action
            %i.red-text.fa.fa-fighter-jet
            %h5.red-text.display-inline
              = project.genre
            %i.red-text.fa.fa-clock-o
            %h5.red-text.display-inline
              = project.duration
          - elsif project.genre == "Adventure"
            //Adventure
            %i.green-text.fa.fa-envira
            %h5.green-text.display-inline
              = project.genre
            %i.green-text.fa.fa-clock-o
            %h5.green-text.display-inline
              = project.duration
          - elsif project.genre == "Comedy"
            //Comedy
            %i.cyan-text.fa.fa-smile-o
            %h5.cyan-text.display-inline
              = project.genre
            %i.cyan-text.fa.fa-clock-o
            %h5.cyan-text.display-inline
              = project.duration
          - elsif project.genre == "Crime"
            //Crime
            %i.orange-text.fa.fa-gavel
            %h5.orange-text.display-inline
              = project.genre
            %i.orange-text.fa.fa-clock-o
            %h5.orange-text.display-inline
              = project.duration
          - elsif project.genre == "Drama"
            //Drama
            %i.amber-text.fa.fa-group
            %h5.amber-text.display-inline
              = project.genre
            %i.amber-text.fa.fa-clock-o
            %h5.amber-text.display-inline
              = project.duration
          - elsif project.genre == "Horror"
            //Horror
            %i.brown-text.fa.fa-warning
            %h5.brown-text.display-inline
              = project.genre
            %i.brown-text.fa.fa-clock-o
            %h5.brown-text.display-inline
              = project.duration
          - else
            //Si-fi
            %i.teal-text.fa.fa-rocket
            %h5.teal-text.display-inline
              = project.genre
            %i.teal-text.fa.fa-clock-o
            %h5.teal-text.display-inline
              = project.duration
          %h4.card-title.project-title
            = project.title
            - if project.challenge == true
              .span.badge.badge-success
                Challenge
          %p.card-text
            = truncate(project.synopsis, length: 120)
          - if project.director > 0
            //director
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Director"}
              %i.icon-video
          - if project.writer > 0
            //writer
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Writer"}
              %i.fa.fa-pencil
          - if project.actor > 0
            //actor
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Actor"}
              %i.icon-theatre
          - if project.editor > 0
            //editor
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Editor"}
              %i.fa.fa-desktop
          - if project.composer > 0
            //composer
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Composer"}
              %i.fa.fa-music
          - if project.cinematographer > 0
            //cinematographer
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Cinematographer"}
              %i.fa.fa-video-camera
          - if project.makeup > 0
            //makeup
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Makeup Artist"}
              %i.fa.fa-paint-brush
          - if project.vfx > 0
            //vfx
            .mask.display-inline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Visual Effects"}
              %i.fa.fa-bomb
          = link_to project_path(project), :class => "btn btn-rounded btn-primary btn-sm float-right display-inline" do
            View Project

      	