- title "New Project - FADE IN"

%br
.card.card-space
  .card-block
    .form-header.primary-color
      %h3
        %i.fa.fa-plus
        Create Project
    = simple_form_for @project do |f|
      .file-field
        .btn.btn-primary.btn-sm
          %span Upload header image
          = f.input_field :image
        .file-path-wrapper
          %input.file-path.validate{:placeholder => "Upload your file", :type => "text"}/
      %br
      %br
      .form-inline
        = f.input :genre, label: false, prompt: "Select genre", collection: ["Action", "Adventure", "Comedy", "Crime", "Drama", "Horror", "Sci-fi"], input_html: { class: "browser-default" }
        = f.input :duration, label: false, prompt: "Select duration", collection: ["Very short", "Short", "Long", "Feature"], input_html: { class: "browser-default" }
      .md-form
        %i.fa.fa-rocket.prefix
        = f.input_field :title, id: "title", :class => "form-control", :minlength => "3", :maxlength => 50, :length => "50"
        %label{:for => "title"} Enter a title
      .md-form
        %i.fa.fa-pencil.prefix
        = f.input_field :synopsis, :class => "md-textarea", :minlength => "100", :maxlength => 500, :length => "500"
        %label{:for => "synopsis"} Enter a brief synopsis
      %br
      %h4.text-center
        Select what roles you need
      %br
      .form-inline
        .container-fluid
          .row
            .col
              %img.img-fluid{:src => "/assets/roles/clapperboard.png", :height => "50", :width => "50"}
              = f.input :director, label: false, input_html: { min: 0, max: 1, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/edit.png", :height => "50", :width => "50"}
              = f.input :writer, label: false, input_html: { min: 0, max: 5, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/theater.png", :height => "50", :width => "50"}
              = f.input :actor, label: false, input_html: { min: 0, max: 15, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/imac.png", :height => "50", :width => "50"}
              = f.input :editor, label: false, input_html: { min: 0, max: 3, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/music-player.png", :height => "50", :width => "50"}
              = f.input :composer, label: false, input_html: { min: 0, max: 3, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/photo-camera.png", :height => "50", :width => "50"}
              = f.input :cinematographer , label: false, input_html: { min: 0, max: 3, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/paint-brush.png", :height => "50", :width => "50"}
              = f.input :makeup, label: false, input_html: { min: 0, max: 5, value: 0 }
            .col
              %img.img-fluid{:src => "/assets/roles/fuse.png", :height => "50", :width => "50"}
              = f.input :vfx, label: false, input_html: { min: 0, max: 2, value: 0 }
      %br
      .form-inline
        = f.input_field :leader_role, label: false, prompt: "Select your role", collection: ["Actor", "Cinematographer", "Director", "Writer", "Editor", "Makeup", "Composer", "VFX"], :class => "browser-default"
      = f.input :public, input_html: { checked: true, checked_value: true, unchecked_value: false }
      %button.btn.btn-primary.primary-color.btn-rounded Create Project
      = link_to "Cancel", root_path, :class => "btn btn-primary btn-rounded"