- title "#{@challenge.title} - FADE IN"

= @challenge.genre
= @challenge.duration
= @challenge.title
= @challenge.synopsis
= @challenge.requirements
= link_to "Start Challenge", user_challenge_new_path