%header.page-header
  %div{:onclick => "openNav()"}
    #nav-icon3
      %span
      %span
      %span
      %span
  = link_to root_path do
    %img{:src => "https://s3.eu-west-2.amazonaws.com/fadein-assets/logo_white.png"}
    %nav
      - if user_signed_in?
        %ul
          %li
            = link_to request_view_path do
              %span.fa.fa-bell{"aria-hidden" => "true"}
          %li
            = link_to redeem_index_path do
              %span.fa.fa-ticket{"aria-hidden" => "true"}
          %li
            = link_to chat_rooms_path do
              %span.fa.fa-comments-o{"aria-hidden" => "true"}
          %li
            = link_to destroy_user_session_path, :class => "sign-out", method: :delete do
              = image_tag current_user.avatar(:medium)
              #dropdown
                %ul
                  %li
                    %p
                      = current_user.user_name
                  %a
                    %li
                      %p My Profile
                      %span
                  %a
                    %li
                      %p My Projects
                      %span
                  %a
                    %li
                      %p My Calendar
                      %span
                  %a
                    %li
                      %p My Settings
                      %span
                  %a
                    %li
                      %p Sign out
                      %span
%nav#sidenav.sidenav
  %div
    %img{:src => "/assets/logo_white.png"}
  %ul
    = link_to dashboard_index_path do
      %li{:class => "#{'active' if current_page?(dashboard_index_path)}"}
        %span.fa.fa-tachometer{"aria-hidden" => "true"}
        %p Dashboard
    = link_to root_path do
      %li{:class => "#{'active' if current_page?(root_path)}"}
        %span.fa.fa-rocket{"aria-hidden" => "true"}
        %p Projects
    = link_to challenges_path do
      %li{:class => "#{'active' if current_page?(challenges_path)}"}
        %span.fa.fa-bullseye{"aria-hidden" => "true"}
        %p Challenges
    %a
      %li
        %span.fa.fa-film{"aria-hidden" => "true"}
        %p Watch
    = link_to profile_path(current_user.user_name) do
      %li{:class => "#{'active' if current_page?(profile_path(current_user.user_name))}"}
        %span.fa.fa-picture-o{"aria-hidden" => "true"}
        %p My Portfolio
    = link_to redeem_index_path do
      %li
        %span.fa.fa-ticket{"aria-hidden" => "true"}
        %p Redeem
    %a
      %li
        %span.fa.fa-book{"aria-hidden" => "true"}
        %p Resources
    %a
      %li
        %span.fa.fa-calendar{"aria-hidden" => "true"}
        %p Calendar