- @requestamount = 0
- if current_user.nil?
  - @notloggedin = true
- @requests = Request.all
- @requests.each do |request|
  - @project = Project.find(request.project_id)
  - @user = User.find(request.user_id)
  - if @notloggedin != true
    - if current_user.id == @project.users.ids.first
      - @requestamount += 1
%header
  / Sidebar navigation
  %ul#slide-out.side-nav.fixed.sn-bg-1.custom-scrollbar
    / Logo
    %li
      .logo-wrapper.waves-effect
        = link_to root_path do
          - if @notloggedin == false
            - if current_user.theme != nil && current_user.theme != "Default"
              %img.img-fluid.flex-center{:src => "/assets/logo_a_white.png"}/
            - else
              %img.img-fluid.flex-center{:src => "/assets/logo_a.png"}/
          - else
            %img.img-fluid.flex-center{:src => "/assets/logo_a.png"}/
    / /. Logo
    / Search Form
    %li
      %form.search-form{:role => "search"}
        .form-group.waves-effect
          %input.form-control{:placeholder => "Search", :type => "text"}/
    / /.Search Form
    / Side navigation links
    %li
      %ul.collapsible.collapsible-accordion
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-dashboard
            Dashboard
        %li
          - if current_page?(projects_path)
            = link_to projects_path, :class => "collapsible-header waves-effect arrow-r active" do
              %i.fa.fa-rocket
              Projects
          - else
            = link_to projects_path, :class => "collapsible-header waves-effect arrow-r" do
              %i.fa.fa-rocket
              Projects
        %li
          = link_to challenges_path, :class => "collapsible-header waves-effect arrow-r" do
            %i.fa.fa-bullseye
            Challenges
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-film
            Watch
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-ticket
            Redeem
        %li
          - if user_signed_in?
            = link_to profile_path(current_user.user_name), :class => "collapsible waves-effect arrow-r" do
              %i.fa.fa-photo
              Portfolio
          - else
            %a.collapsible-header.waves-effect.arrow-r.disabled
              %i.fa.fa-photo
              Portfolio
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-book
            Resources
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-calendar
            Calendar
        %li
          %a.collapsible-header.waves-effect.arrow-r.disabled
            %i.fa.fa-folder
            Files
        %li
          - if user_signed_in?
            = link_to edit_user_registration_path, :class => "collapsible-header waves-effect arrow-r" do
              %i.fa.fa-gear
              Settings
          -else
            %a.collapsible-header.waves-effect.arrow-r
              %i.fa.fa-gear
              Settings
    / /. Side navigation links
    .sidenav-bg.mask-strong
  / /. Sidebar navigation
  / Navbar
  %nav.navbar.fixed-top.navbar-toggleable-md.navbar-dark.scrolling-navbar.double-nav
    / SideNav slide-out button
    .float-xs-left
      %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
        %i.fa.fa-bars
    / Breadcrumb
    .breadcrumb-dn.mr-auto
      %p
        %b "Happiness lies in the joy of achievement and the thrill of creative effort."
        \- Franklin D. Roosevelt
    %ul.nav.navbar-nav.ml-auto.flex-row
      - if user_signed_in?
        %li.nav-item
          - if @requestamount > 0
            = link_to request_view_path, :class => "nav-link" do
              %i.fa.fa-bell.orange-text
          - else
            = link_to request_view_path, :class => "nav-link" do
              %i.fa.fa-bell-o
        %li.nav-item
          = link_to chat_rooms_path, :class => "nav-link" do
            %i.fa.fa-comments
        %li.nav-item
          %a.nav-link
            %i.fa.fa-ticket.green-text
            - if current_user.tickets == nil
              %l.green-text 
                0
            - else
              %l.green-text
                = current_user.tickets
        %li.nav-item.username-align
          = link_to current_user.user_name, profile_path(current_user.user_name)
          - if current_user.avatar_file_name == nil
            = link_to profile_path(current_user.user_name) do
              %img{:src => "/assets/icon.png", :class => "rounded-circle img-responsive contact-avatar", :height => "36"}
          - else
            = link_to profile_path(current_user.user_name) do
              = image_tag current_user.avatar(:medium), :class => "rounded-circle img-responsive contact-avatar", :height => "36"
        %li.nav-item
          = link_to destroy_user_session_path, method: :delete, :class => "nav-link" do
            %i.fa.fa-sign-out
            %span.hidden-sm-down
      - else
        %li.nav-item
          = link_to new_user_session_path, :class => "nav-link" do
            %i.fa.fa-sign-in
            %span.hidden-sm-down Sign In
        %li.nav-item
          = link_to new_user_registration_path, :class => "nav-link" do
            %i.fa.fa-user
            %span.hidden-sm-down Sign Up
  / /.Navbar