- flash.each do |key, value|
  %a.delete{"data-dismiss" => "notification", :href => ""}
    %div{:class => "notification is-#{key}"}
      - if key == "notice"
        %p
          = value
      - elsif key == "success"
        %p
          = value
      - elsif key == "danger"
        %p
          = value
      - elsif key == "info"
        %p
          = value
      - elsif key == "alert"
        %p
          = value
      %span.im.im-x-mark-circle-o{"aria-hidden" => "true"}