- if current_user.nil?
  - @notloggedin = true
- else
  - @notloggedin = false


- if current_user.blank?
  = render 'layouts/secret'
  !!!
  %html
    %head
      %title= content_for?(:title) ? content_for(:title) : "FADE IN"
      = render 'layouts/rails_default'
      %link{:href => "/assets/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body.body-margin
    = render 'layouts/messages'
    = yield
- else
  = render 'layouts/secret'
  !!!
  %html
    %head
      %title= content_for?(:title) ? content_for(:title) : "FADE IN"
      = render 'layouts/rails_default'
      %link{:href => "/assets/icon.png", :rel => "shortcut icon", :type => "image/png"}/
    %body
    = render 'layouts/newheader'
    %main
      = render 'layouts/messages'
      = yield