= render 'layouts/secret'
!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "FADE IN"
    = render 'layouts/rails_default'
    %link{:href => "../assets/icon.png", :rel => "shortcut icon", :type => "image/png"}/
  %body.fixed-sn.white-skin
    = render 'layouts/header'
    - if flash[:notice]
      .notice= flash[:notice]
    %main= yield
    = render 'layouts/footer'


